<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>itemIconName</key>
			<string>activity_center.png</string>
			<key>itemTitle</key>
			<string>qm_more_activity_center_title</string>
			<key>selector</key>
			<string>gotoActivityCenterViewController</string>
			<key>showsIndicator</key>
			<true/>
			<key>showsLine</key>
			<true/>
			<key>backgroundImageName</key>
			<string>common_bg_on.png</string>
			<key>selectedBgImageName</key>
			<string>common_bg_on_pressed.png</string>
			<key>imageSize</key>
			<string>{20,60}</string>
			<key>itemSubTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>itemIconName</key>
			<string>message_center.png</string>
			<key>itemTitle</key>
			<string>qm_more_message_center_title</string>
			<key>selector</key>
			<string>gotoMessageCenterViewController</string>
			<key>showsIndicator</key>
			<true/>
			<key>showsLine</key>
			<true/>
			<key>backgroundImageName</key>
			<string>common_bg_middle.png</string>
			<key>selectedBgImageName</key>
			<string>common_bg_middle_pressed.png</string>
			<key>imageSize</key>
			<string>{20,44}</string>
			<key>itemSubTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>itemIconName</key>
			<string>help_center.png</string>
			<key>itemTitle</key>
			<string>qm_more_assist_center_title</string>
			<key>selector</key>
			<string>gotoHelpCenterViewController</string>
			<key>showsIndicator</key>
			<true/>
			<key>showsLine</key>
			<false/>
			<key>backgroundImageName</key>
			<string>common_bg_down.png</string>
			<key>selectedBgImageName</key>
			<string>common_bg_down_pressed.png</string>
			<key>imageSize</key>
			<string>{20,20}</string>
			<key>itemSubTitle</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemIconName</key>
			<string>more_forward_icon.png</string>
			<key>itemTitle</key>
			<string>qm_more_forward_friends_title</string>
			<key>selector</key>
			<string>gotoForwardBtnClicked</string>
			<key>showsIndicator</key>
			<true/>
			<key>showsLine</key>
			<true/>
			<key>backgroundImageName</key>
			<string>common_bg_on.png</string>
			<key>selectedBgImageName</key>
			<string>common_bg_on_pressed.png</string>
			<key>imageSize</key>
			<string>{30,44}</string>
			<key>itemSubTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>itemIconName</key>
			<string>feedback.png</string>
			<key>itemTitle</key>
			<string>qm_more_feedback_title</string>
			<key>selector</key>
			<string>gotoFeedBackViewController</string>
			<key>showsIndicator</key>
			<true/>
			<key>showsLine</key>
			<true/>
			<key>backgroundImageName</key>
			<string>common_bg_middle.png</string>
			<key>selectedBgImageName</key>
			<string>common_bg_middle_pressed.png</string>
			<key>imageSize</key>
			<string>{30,44}</string>
			<key>itemSubTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>itemIconName</key>
			<string>more_forcus_icon.png</string>
			<key>itemTitle</key>
			<string>qm_more_notice_us_title</string>
			<key>selector</key>
			<string>gotoFocusBtnClicked</string>
			<key>showsIndicator</key>
			<true/>
			<key>showsLine</key>
			<false/>
			<key>backgroundImageName</key>
			<string>common_bg_down.png</string>
			<key>selectedBgImageName</key>
			<string>common_bg_down_pressed.png</string>
			<key>imageSize</key>
			<string>{30,44}</string>
			<key>itemSubTitle</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemIconName</key>
			<string>feed.png</string>
			<key>itemTitle</key>
			<string>qm_more_encourage_title</string>
			<key>selector</key>
			<string>openAppComment</string>
			<key>showsIndicator</key>
			<true/>
			<key>showsLine</key>
			<true/>
			<key>backgroundImageName</key>
			<string>common_bg_middle.png</string>
			<key>selectedBgImageName</key>
			<string>common_bg_middle_pressed.png</string>
			<key>imageSize</key>
			<string>{20,44}</string>
			<key>itemSubTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>itemIconName</key>
			<string>about.png</string>
			<key>itemTitle</key>
			<string>qm_more_about_us_title</string>
			<key>selector</key>
			<string>gotoAboutViewController</string>
			<key>showsIndicator</key>
			<true/>
			<key>showsLine</key>
			<false/>
			<key>backgroundImageName</key>
			<string>common_bg_down.png</string>
			<key>selectedBgImageName</key>
			<string>common_bg_down_pressed.png</string>
			<key>imageSize</key>
			<string>{20,20}</string>
			<key>itemSubTitle</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
